<ion-header>

  <ion-navbar>
    <ion-buttons end>
        <button  (click)="addAgelOperation()" ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>البيع اﻵجل</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--<ion-label *ngIf="editor" > مرحباً بك يا{{" " +editor}}</ion-label>-->
   <br>
<ion-searchbar [showCancelButton]="true"  [placeholder]="'بحث'" [(ngModel)]="term"></ion-searchbar>
  <ion-list>
    <ion-item ion-item *ngFor="let agel of agels| async|filterBy:{name:term }">
      <b (click)="showOptions(agel)">{{agel.name}}</b>
        <ion-badge color="assertive"   right>{{agel.buyer}}</ion-badge>
        <ion-badge  right>{{agel.number}}</ion-badge>
        <ion-badge  color="danger" item-end>{{agel.remainder}}</ion-badge>
        <button (click)="addItemToOrders($event, agel)" ion-button outline item-end icon-left>
      + للنواقص
    </button>
  </ion-item>
  </ion-list>
</ion-content>