<!--
  Generated template for the FaitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
        <button  (click)="addFaitOrder()" ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    <ion-buttons (click)="gotoHome()" left>
		<button ion-button navPop icon-only  >
			<ion-icon  ios="ios-home" md="md-home"></ion-icon>
		</button>
	</ion-buttons>
    <ion-title>فيات</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <br>

  <input type="text" [(ngModel)]="term">
<ion-list>
  <div *ngFor="let order of orders | async|filterBy:{name:term }">
    <ion-item  *ngIf="order.class=='fait'" >
      <b (click)="showOptions(order)">{{order.name}}</b>
       <ion-badge item-end>{{order.number}}</ion-badge>
      <!--<p  >{{order.name}}-{{order.number}}-{{order.orderDate}}-{{order.orderTime}}-{{order.class}}</p>-->
    </ion-item>
  </div>
  </ion-list>
</ion-content>
