<ion-header>

  <ion-navbar>
     <ion-buttons end>
        <button  (click)="addBudgetItem()" ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>اليومية</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <!--<ion-label *ngIf="editor" > مرحباً بك يا{{" " +editor}}</ion-label>-->
   <br>
<ion-searchbar  [showCancelButton]="true"  [placeholder]="'بحث'" [(ngModel)]="term"></ion-searchbar>

<ion-list>
  <ion-item  *ngFor="let item of budget | async|filterBy:{details:term }">
      <b (click)="showOptions(item)">{{item.mony}}</b>
       <ion-badge item-end>{{item.details}}</ion-badge>
       <ion-badge  color="danger"  item-end>{{item.itemDate}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
