<ion-header>

  <ion-navbar>
     <ion-buttons end>
        <button  (click)="addJointInfo()" ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>معلومات الصلايب</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <!--<ion-label *ngIf="editor" > مرحباً بك يا{{" " +editor}}</ion-label>-->
 <br>
<ion-searchbar [showCancelButton]="true"  [placeholder]="'اكتب مقاس  الكوستبان'" [(ngModel)]="term"></ion-searchbar>

   <ion-grid>
      <ion-item color="primary" >  <ion-row> <ion-col  text-center><b>رقم الصليبة</b></ion-col>
                            <ion-col  text-center><b>الكوستبان</b></ion-col>
                            <ion-col  text-center><b>الطول</b></ion-col>
                            <ion-col  text-center><b>نوع التيلة</b></ion-col>
                            <ion-col  text-center><b>ملاحظات</b></ion-col>  
                  </ion-row>
      </ion-item>

      <ion-item color="light"  *ngFor="let joint of jointinfo | async|filterBy:{kostoban:term }" class="item-balanced">
        <ion-row  lang="ar" dir="rtl" >
                    <ion-col (click)="showOptions(joint)" text-center><b>{{joint.no}}</b></ion-col>
                    <ion-col  text-center><b>{{joint.kostoban}}</b></ion-col>
                    <ion-col  text-center><b>{{joint.length}}</b></ion-col>
                    <ion-col  text-center><b>{{joint.style}}</b></ion-col>
                    <ion-col  (click)="showDetails($event, joint)"  text-center><i>تفاصيل</i></ion-col>
        </ion-row> 
    </ion-item>
  
</ion-grid>
</ion-content>


<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
import { Component } from '@angular/core';
import { NavController, NavParams } from 'ionic-angular';

@Component({
  selector: 'page-list',
  templateUrl: 'list.html'
})
export class ListPage {
  selectedItem: any;
  icons: string[];
  items: Array<{title: string, note: string, icon: string}>;

  constructor(public navCtrl: NavController, public navParams: NavParams) {
    // If we navigated to this page, we will have an item available as a nav param
    this.selectedItem = navParams.get('item');

    // Let's populate this page with some filler content for funzies
    this.icons = ['flask', 'wifi', 'beer', 'football', 'basketball', 'paper-plane',
    'american-football', 'boat', 'bluetooth', 'build'];

    this.items = [];
    for (let i = 1; i < 11; i++) {
      this.items.push({
        title: 'Item ' + i,
        note: 'This is item #' + i,
        icon: this.icons[Math.floor(Math.random() * this.icons.length)]
      });
    }
  }

  itemTapped(event, item) {
    // That's right, we're pushing to ourselves!
    this.navCtrl.push(ListPage, {
      item: item
    });
  }
}


-->
