<ion-header>
  <ion-navbar>
    <ion-buttons end>
        <button  (click)="addMosmarOrder()" ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>نواقص المسامير</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <!--<ion-label *ngIf="editor" > مرحباً بك يا{{" " +editor}}</ion-label>-->

   <br>
<ion-searchbar [showCancelButton]="true"  [placeholder]="'بحث'" [(ngModel)]="term"></ion-searchbar>
<ion-list>
    <ion-item  *ngFor="let order of orders | async|filterBy:{name:term }" >
      <b (click)="showOptions(order)">{{order.name}}</b>
       <ion-badge item-end>{{order.number}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
