
<ion-header>

  <ion-navbar> 
    <ion-buttons end>
        <button  (click)="addAcessoirOrder()" ion-button icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>كماليات</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <!--<ion-label *ngIf="editor" > مرحباً بك يا{{" " +editor}}</ion-label>-->
   <br>  
<ion-searchbar [showCancelButton]="true"  [placeholder]="'بحث'" [(ngModel)]="term"></ion-searchbar>
<ion-list>
    <ion-item  *ngFor="let order of orders | async|filterBy:{name:term }" >
      <b (click)="showOptions(order)">{{order.name}}</b>
       <ion-badge color="dark" item-end>{{order.editor}}</ion-badge>
       <ion-badge item-end>{{order.number}}</ion-badge>
    </ion-item>
  </ion-list>

<!--  
       <ion-item>
    <ion-label floating>
      رقم الموبايل
    </ion-label>
    <ion-input type="text" [(ngModel)]="number"></ion-input>
  </ion-item>

<ion-item>
    <ion-label floating>
      نص الرسالة 
    </ion-label>
    <ion-input type="text" [(ngModel)]="message"></ion-input>
  </ion-item>
    <button ion-button (click)="sendSms(number,message)">Send Messaage </button>
    <button ion-button (click)="callThisNumber(number)">Call This Number </button>-->

</ion-content>
